<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Disney Web tutorial ">
    <meta name="keywords" content="HTML, CSS">
    <meta name="author" content="omnya tarek">
    <title>Disney</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.cdnfonts.com/css/walt-disney-script" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="icon" href="../images/disney_logo_dark@2x-45d70f7dd57b.png" width="20%">
</head>
<style>
    @import url('https://fonts.cdnfonts.com/css/walt-disney-script');
</style>


<body>
    <nav>
        <div class="logo">
            <a href="#">Disney</a>
        </div>

        <i class='bx bx-menu'>

        </i>
        <div class="dropdown1">
            <a>DISNEY+</a>
            <div class="dropcontent1">
                <a href="#">Find out more</a>
                <a href="#">Introducing Disney+</a>
            </div>

        </div>
        <div class="dropdown2">
            <a>MOVIES</a>
            <div class="dropcontent2">
                <a>
                    Featured
                </a>
                <a>
                    Moana2
                </a>
                <a>
                    Mufasa:The Lion King
                </a>
                <a>
                    Snow White
                </a>
                <a>
                    Captain America:Brave New World
                </a>
                <a>
                    Thunderblots*
                </a>
                <a>
                    Lilo & Stitch
                </a>
                <a>Elio</a>
                <a>
                    Lucasfilm Movies
                </a>
                <a>
                    Marvel Movies
                </a> <a>
                    Pixar Movies
                </a>
            </div>
        </div>
        </div>
    </nav>
    <!------------------------------------------------navbar------------------------------------------------------------------>
    <section class="header">
        <div class="text">
            <img src="../images/Screenshot_2024-removebg-preview.png" width="350px">
            <button class="btn1">BOOK TICKETS</button>
            <button class="btn2">FIND OUT MORE</button>
        </div>
        <div class="back_header">
        </div>
    </section>
    <!---------------------------------------------header------------------------------------- -->
    <section class="two-column-section">
        <div class="container">
            <div class="column">
                <img src="../images/Screenshot 2024-12-25 115705.jpg" alt="Image 1">
                <div class="content">
                    <h3>Star Wars: Skeleton Crew</h3>
                    <p>Now streaming on Disney+.</p>
                    <p style=" font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; margin-top: 22px;
                     font-size: 12px;">DISNEY+</p>
                </div>
            </div>
            <div class="column">
                <img src="../images/Screenshot 2024-12-25 115721.jpg" alt="Image 2">
                <div class="content">
                    <h3>Moana 2</h3>
                    <p>In cinemas now.</p>
                    <p style=" font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif; font-weight: bold; margin-top: 22px;
                   font-size: 12px;">MOVIES</p>
                </div>
            </div>
        </div>
    </section>
    <!---------------------------------------"two-column-section------------------------------------------------------------------->
    <section class="three-column-section">
        <h2>What's on Disney+</h2>
        <div class="middle_container">
            <div class="middle">
                <div class="img-wrapper"><img src="../images/en_inside-out-2_thumbnail_3fa824ef.jpeg" alt="Image 1">
                </div>
                <p>Inside Out 2</p>
            </div>
            <div class="middle">
                <div class="img-wrapper"> <img
                        src="../images/en_kingdom-of-the-planet-of-the-apes_thumbnail_2b1871ce.jpeg" alt="Image 2">
                </div>
                <p>Kingdom of the Planet of the Apes</p>
            </div>
            <div class="middle" style="margin-right: 50px;">
                <div class="img-wrapper"><img src="../images/en_young-woman-and-the-sea_thumbnail_8e550bf6.jpeg"
                        alt="Image 3">
                </div>
                <p>Young Woman and the Sea</p>
            </div>
        </div>
        <div class="three-column-section_bottom">
            <button>SUBSCRIBE NOW*</button>
            <span>* Minimum age requirements, Terms and Conditions Apply</span>
        </div>
    </section>
    <!---------------------------------------"three-column-section------------------------------------------------------------------->

    <section class="four-column-section">
        <h2>Parks</h2>
        <div class="linear">
            <div class="left">
                <img src="../images/dlp_halloween_logo_v2_41458d5c.png" alt="Left Image">
                <p>You and your family can Join ours at <br>
                    DisneyLand<sup>®</sup>Paris for this year's <i>Disney</i> <br>
                    <i> Enchanted </i>chritmas-but only until 6<sup>th</sup><br>
                    January 2025!

                </p>

                <a href="#">BOOK NOW</a>
            </div>
            <div class="right">
                <div class="img-w">
                    <img src="../images/hero.jpeg" alt="Image">
                </div>
            </div>
    </section>
    <!---------------------------------------"four-column-section------------------------------------------------------------------->

    <section class="five-column-section">
        <h2>Movies</h2>
        <div class="five_container">
            <div class="five_middle">
                <div class="img-wr"><img src="../images/moana.jpeg" alt="Image 1">
                </div>
                <a>Moana 2</a>
            </div>
            <div class="five_middle">
                <div class="img-wr"> <img src="../images/mufasa.jpeg" alt="Image 2">
                </div>
                <a> Mufasa:The Lion King</a>
            </div>
            <div class="five_middle">
                <div class="img-wr"><img src="../images/cap.jpeg" alt="Image 3">
                </div>
                <a>
                    Captain America:Brave New World
                </a>
            </div>
            <div class="five_middle">
                <div class="img-wr"><img src="../images/snow.jpeg" alt="Image 4">
                </div>
                <a>
                    Snow White
                </a>

            </div>
            <div class="five_middle">
                <div class="img-wr"><img src="../images/trow.jpeg" alt="Image 5">
                </div>
                <a>
                    Thunderblots*
                </a>
            </div>
        </div>
        <article><span style="font-size: 11;">Language:</span>
            <a>
                ENGLISH</a>
            |
            <a> العربية
            </a>
        </article>
    </section>
    <!-------------five-column section ------------------------------------------------------------------>
    <footer>
        <p style="font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;">Follow Disney on: <i class='bx bxl-facebook-circle'></i></p>
        <img src="../images/disney_logo_dark@2x-45d70f7dd57b.png" width="80px" style="margin-top: 40px;">
        <div class="links">
            <a>Help</a>
            <a>Register</a>
            <a>Sitemap</a>
            <a>Terms of Use</a>
            <a>Privacy Policy</a>
            <a>Cookie Policy</a>
            <a>Intersed-based Ads</a>
            <a>About Us</a>
            <a>The Walt Disney Company</a>
            <br>
        </div>
        <p style="margin-top: 40px;  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal; margin-bottom: 50px;
    font-size: 14px;
    color: #696868;">&copy; Disney and its related entities. All Rights Reserved.</p>

    </footer>
</body>

</html>